<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Login</title>
</head>
<body>
<h1> Welcome to employee login page </h1>

<button onclick="location.href='/home'" type="button">
    Back home</button>

<div class="form-container">
    <form action="/loginInformationEmployee" method="post">
        <div>
            <label for="name">name</label><br>
            <input type="text" id="name" name="name" placeholder="Jméno" />
        </div>

        <div>
            <label for="password">password</label><br>
            <input type="password" id="password" name="password" placeholder="Heslo" />
        </div>

        <div class="input-container">
            <input type="submit" value="Login" />
        </div>
    </form>
    <h2 th:text=" ${error}"> hm </h2>
</div>
</body>
</html>